---
layout: archive
title: ""
permalink: /teaching/
author_profile: false
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}


<div style="text-align: left;"> 
  <h2 style="color: #52adc8;">Undergraduate Courses, University of Cuenca and Guayaquil, 2017 -2020</h2> 
  <ul>
    <li>Linear Algebra</li>
    <li>Python Programming</li>
    <li>Multivariate Calculus</li>
    <li>Statistics</li>
    <li>Image and Video Processing</li>
    <li>Differential Equations</li>
  </ul>
</div>

<div style="text-align: left;"> 
  <p>Some of the course slides are available in the following repository: 
    <a href="https://github.com/Andrade-Miranda/Course-materials" target="_blank">
      GitHub - Course Materials
    </a>
  </p>
</div>

